<div>
    <input type="checkbox" id="moskit" name="options" value="moskit">
    <label for="moskit">Москитная сетка</label>
    <br>
    <input type="checkbox" id="sill" name="options" value="sill">
    <label for="sill">Подоконник</label>
    <br>
    <input type="checkbox" id="fillet" name="options" value="fillet">
    <label for="fillet">Отлив</label>
    <br>
    <input type="checkbox" id="child-lock" name="options" value="child-lock">
    <label for="child-lock">Детский замок</label>
    <br>
    <input type="checkbox" id="microventilation" name="options" value="microventilation">
    <label for="microventilation">Микропроветривание</label>
</div>
