
.options-container {
    max-height: 610px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
}

.option-container-item {
    // line-height: 60px;
    min-width: 190px;
    max-width: 190px;
}

.options-container-subitem {
    line-height: 30px;
    margin-left: 30px;
}

.option-text {
    font-size: 14px;
    color: #5a5b5d;
    font-weight: 500;
    font-family: Montserrat,sans-serif;
}
.option-text-selected {
    font-size: 14px;
    color: #5a5b5d;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
}
.option-label {}

@media only screen and (max-width: 575px) {
    .options-container {
        min-height: 700px;
        max-height: 700px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .option-text {
        line-height: 30px;
    }
    .option-text-selected {
        line-height: 30px;
    }
    .option-container-item {
        max-width: 200px;
        margin-right: 10px;
        word-break: break-word;
        min-width: 95px;
    }
    .options-container-subitem {
        min-width: 150px;
    }
    .option-label {
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
}