<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>polyCAD</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [ngStyle]="getStyle('constrtype')" [routerLink]="'/constrtype'">Конструктив</a>
      <a mat-button [ngStyle]="getStyle('colors')" [routerLink]="'/colors'">Цвета</a>
      <a mat-button [ngStyle]="getStyle('options')" [routerLink]="'/options'">Опции</a>
      <a mat-button [ngStyle]="getStyle('systems')" [routerLink]="'/systems'">Системы</a>
      <a mat-button [ngStyle]="getStyle('params')" [routerLink]="'/params'">Параметры</a>
      <a mat-button [ngStyle]="getStyle('result')" [routerLink]="'/result'">Результат</a>
      <a mat-button [ngStyle]="getStyle('basket')" [routerLink]="'/basket'">Корзина</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<app-common-card></app-common-card>

<div *ngIf="!state" class="pos-center">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>