<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Prod-Line</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/constrtype'">Конструктив</a>
      <a mat-button [routerLink]="'/colors'">Цвета</a>
      <a mat-button [routerLink]="'/options'">Опции</a>
      <a mat-button [routerLink]="'/systems'">Системы</a>
      <a mat-button [routerLink]="'/params'">Параметры</a>
      <a mat-button [routerLink]="'/result'">Результат</a>
      <a mat-button [routerLink]="'/basket'">Корзина</a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<app-common-card></app-common-card>
