<div>
    <input type="radio" id="window" name="constrtype" value="window">
    <label for="window">Окно</label>
    <br>
    <input type="radio" id="window-one-imp" name="constrtype" value="window-one-imp">
    <label for="window-one-imp">Окно с импостом</label>
    <br>
    <input type="radio" id="window-two-imp" name="constrtype" value="window-two-imp">
    <label for="window-two-imp">Окно с импостами</label>
    <br>
    <input type="radio" id="door" name="constrtype" value="door">
    <label for="door">Дверь</label>
    <br>
    <input type="radio" id="door-with-impost" name="constrtype" value="door-with-impost">
    <label for="door-with-impost">Дверь с импостом</label>
    <br>
    <input type="radio" id="balkon-left" name="constrtype" value="balkon-left">
    <label for="balkon-left">Балконный блок левый</label>
    <br>
    <input type="radio" id="balkon-right" name="constrtype" value="balkon-right">
    <label for="balkon-right">Балконный блок правый</label>
    <br>
    <input type="radio" id="balkon-left-imp" name="constrtype" value="balkon-left-imp">
    <label for="balkon-left-imp">Балконный блок левый с импостом</label>
    <br>
    <input type="radio" id="balkon-right-imp" name="constrtype" value="balkon-right-imp">
    <label for="balkon-right-imp">Балконный блок правый с импостом</label>
</div>
