<ng-container *ngIf="state">
    <div class="title-2">
        <span class="title-text-2">
            {{title}}
        </span>
    </div>
    <div class='flex-row'>
        <!-- <div class="border flex-1 title-prev">
            <span class="title-text-prev" (click)="goToPage(1)">
                Конструктив
            </span>
        </div> -->
        <div class="border flex-1 flex-row-wrap common-card">
            
            <!-- <div class="flex-1 no-mobile" style="min-width: 60px; max-width: 60px;"></div> -->
            <div class="border flex-1 flex-col color-container">
                <div class="flex-1 color-container-row">
                    <div class="color-container-row-caption">Цвет снаружи:</div>
                    <div class="flex-row-wrap color-container-row-hover">
                        <div class="flex-1"
                            *ngFor="let color of colors; let idx = index;"
                            [ngStyle]="{'background-color': color.color}"
                            [ngClass]="isColorOutChecked(color.id) ? 'color-container-item-selected' : 'color-container-item'"
                            (click)="setColorOut(color.id)"
                        >
                        </div>
                    </div>
                </div>
                <div class="flex-1 color-container-row">
                    <div class="color-container-row-caption">Цвет внутри:</div>
                    <div class="flex-row-wrap">
                        <div class="flex-1 color-container-row-hover"
                            *ngFor="let color of colors; let idx = index;"
                            [ngStyle]="{'background-color': color.color}"
                            [ngClass]="isColorInChecked(color.id) ? 'color-container-item-selected' : 'color-container-item'"
                            (click)="setColorIn(color.id)"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="border flex-1 title-next">
            <span class="title-text-next" (click)="goToPage(3)">
                Опции
            </span>
        </div>
        <div class="border flex-1 title-next">
            <span class="title-text-next" (click)="goToPage(4)">
                Профильная система
            </span>
        </div> -->
    </div>
</ng-container>
<div class="mobile-border"></div>
<div class="no-mobile-border"></div>