<ng-container *ngIf="state">
    <h3>Цвет изнутри</h3>
    <div>
        <ng-container *ngFor="let color of colors">
            <input type="radio" id="color-in-{{color.marking}}" name="color-in" value="{{color.marking}}" (change)="setColorIn(color.marking)"
                [checked]="isColorInChecked(color.marking)">
            <label for="color-in-{{color.marking}}">{{color.marking}}</label>
            <br>
        </ng-container>
    </div>
    <h3>Цвет снаружи</h3>
    <div>
        <ng-container *ngFor="let color of colors">
            <input type="radio" id="color-out-{{color.marking}}" name="color-out" value="{{color.marking}}" (change)="setColorOut(color.marking)"
                [checked]="isColorOutChecked(color.marking)">
            <label for="color-out-{{color.marking}}">{{color.marking}}</label>
            <br>
        </ng-container>
    </div>
</ng-container>