
<ng-container *ngIf="state && state.settingsLoaded">
    <div *ngIf="state && state.error" class="error">{{lang.error}}: {{state.error}}</div>
    <div *ngIf="state && state.info" class="info">{{state.info}}</div>
    <div class="custom-card" *ngIf="!state.mobile">
        <div class="flex-row" *ngIf="!state.isCalculationInProgress">
            <div class="flex-col">
                <div class="flex-1">
                    <app-constrtype>loading, please wait...</app-constrtype>
                </div>
                <div class="flex-1" style="min-height: 750px;"></div>
                <div class="flex-1" style="max-height: 300px;">
                    

                    <div class="calc-button-text"
                        [ngClass]="state && state.canCalc ? 'calc-button' : 'calc-button-disabled'"
                        (click)="calc()"
                    >посчитать</div>

                </div>
            </div>

            <div class="flex-col">
                <div class="flex-row summary">
                    <div class="flex-1 summary-pic">
                        <img [src]="image" width="120" height="120" />
                    </div>
                    <div class="flex-1 flex-col summary-description">
                        <div class="flex-1 flex-row" *ngIf="!showPrevCalcButton">
                            <div class="flex-1 summary-description-title">Конструктив:</div>
                            <div class="flex-1 summary-description-value">{{constrtypeMarking}}</div>
                        </div>
                        <div class="flex-1 flex-row">
                            <div class="flex-1 summary-description-title" *ngIf="!showPrevCalcButton">Цвета:</div>
                            <div class="flex-1 summary-description-value" *ngIf="!showPrevCalcButton">{{colorsInfo}}</div>
                            <div class="flex-1 summary-description-title" *ngIf="showPrevCalcButton"></div>
                        </div>
                        <div class="flex-1 flex-row" *ngIf="!showPrevCalcButton">
                            <div class="flex-1 summary-description-title">Опции:</div>
                            <div class="flex-1 summary-description-value">{{options}}</div>
                        </div>
                    </div>
                </div>
                <div class="flex-1"><app-colors-component>loading, please wait... </app-colors-component></div>
                <div class="flex-1"><app-options-component>loading, please wait...</app-options-component></div>
                <div class="flex-1"><app-systems-component>loading, please wait...</app-systems-component></div>
            </div>
        </div>
        <div class="no-mobile-border" *ngIf="isPage('result') && !state.isCalculationInProgress"></div>
        <app-result-component *ngIf="isPage('result')">loading, please wait...</app-result-component>
        <div class="no-mobile-border" *ngIf="isPage('result') && !state.isCalculationInProgress"></div>
    </div>

    <div class="custom-card-mobile" *ngIf="state.mobile">
        <app-constrtype *ngIf="!isPage('result')">loading, please wait...</app-constrtype>
        <app-colors-component *ngIf="!isPage('result')">loading, please wait... </app-colors-component>
        <app-options-component *ngIf="!isPage('result')">loading, please wait...</app-options-component>
        <app-systems-component *ngIf="!isPage('result')">loading, please wait...</app-systems-component>
        <app-result-component *ngIf="isPage('result')">loading, please wait...</app-result-component>
        
        <div class="flex-row summary">
            <div class="flex-1 summary-pic">
                <img [src]="image" width="80" height="80" />
            </div>
            <div class="flex-1 flex-col summary-description">
                <div class="flex-1 flex-row-mobile" *ngIf="!showPrevCalcButton">
                    <div class="flex-1 summary-description-title">Конструктив:</div>
                    <div class="flex-1 summary-description-value">{{constrtypeMarking}}</div>
                </div>
                <div class="flex-1 flex-row-mobile">
                    <div class="flex-1 summary-description-title" *ngIf="!showPrevCalcButton">Цвета:</div>
                    <div class="flex-1 summary-description-value" *ngIf="!showPrevCalcButton">{{colorsInfo}}</div>
                    <div class="flex-1 summary-description-title" *ngIf="showPrevCalcButton"></div>
                    <div class="flex-1 flex-row">
                        <div class="flex-1 summary-summ" *ngIf="showPrevCalcButton">
                            <div *ngIf="!state.isCalculationInProgress" class="summary-summ">{{summ}}</div>
                        </div>
                        <div class="flex-1 flex-row-mobile summary-buttons">
                            <div class="flex-1 summary-button" *ngIf="showPrevCalcButton" (click)="prevCalc()">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 22" width="31" height="22" style="position:absolute; top: 0px; right: 110px;">
                                    <style>.shp1 {fill: #8fcc09}</style>
                                    <g>
                                        <path class="shp1" transform="translate(-1245, -699)" d="M1258.39 718.94L1250.71 711.44L1296 711.44L1296 708.52L1250.72 708.52L1258.39 701.06L1256.29 699L1247.12 707.93L1247.11 707.93L1245 709.99L1247.1 712.05L1256.28 721L1258.39 718.94Z"></path>
                                    </g>
                                </svg>
                                <span style="position: absolute; right: 0px; top: 0px;">к калькулятору</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-1 flex-row-mobile" *ngIf="!showPrevCalcButton">
                    <div class="flex-1 summary-description-title">Опции:</div>
                    <div class="flex-1 summary-description-value">{{options}}</div>
                </div>
            </div>
        </div>
        <div class="no-mobile flex-row calc-button-row" *ngIf="state.page !== 'result'">
            <div class="flex-1"></div>
            <div class="flex-1 calc-button-text"
                [ngClass]="state && state.canCalc ? 'calc-button' : 'calc-button-disabled'"
                (click)="calc()"
            >посчитать</div>
        </div>
        <div class="mobile calc-button-row" *ngIf="state && state.canCalc">
            <div class="calc-button-text calc-button" (click)="calcMobile()">посчитать</div>
        </div>
    </div>
</ng-container>
