<mat-card class="custom-card" *ngIf="state">
    <mat-card-header>
        <mat-card-title>{{state.title}}</mat-card-title>
        <mat-card-subtitle>{{state.comment}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="margin: 30px;">
            <router-outlet></router-outlet>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="prev()">Назад</button>
        <button mat-button (click)="next()">Далее</button>
    </mat-card-actions>
</mat-card>